<h1>All products</h1>

<p>You have visited this site <%= pluralize @visit_count, 'time' %>.</p>

<% @products.each do |product| %>
<h3><%= product.name %></h3>
<p><%= product.description %></p>
<%= link_to "More info", product_path(product), class: "btn btn-primary" %>
<% end %>
